<!-- People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->

<div id="leftMenu" ng-init="updateLeftMenu()">
    <div style="height: 10%;">
        <h3 style="padding-left: 20px; margin-top: 10px; margin-bottom: 0px;">My Dinner</h3>
    </div>
    <div style="height: 10%;">
        <label id="labelNumberOfPeople" for="inputNumberOfPeople" style="margin-left: 30px; padding-top: 5px; float: left;  margin-top: -8px;">People</label>
        <input ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" value="{{numberOfGuests}}" id="inputNumberOfPeople" type="number" class="form-control" style="width: 30%; float: right; margin-right: 50px;  margin-top: -8px;">
    </div>
    <div style="margin-top: -25px; height: 80%;">
        <table id="costTable" class="table">
            <thead>
                <tr style="background-color: #3276b1; color: #FFFFFF;">
                    <th>Dish Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody ng-repeat="details in detail">
                <tr id="{{details[0]}}" ng-click="removeDish($event)" class="hoverClass">
                  <th>{{details[2]}}</th>
                  <th>{{details[1]}}</th>
                </tr>
            </tbody>
        </table>
        <hr style="margin-left: 30px; margin-right: 30px; border-top: 2px solid ">
        <div style="text-align: right; padding-right: 35px">
            <p id="costTablePrice">SEK {{cost}}</p>
        </div>
        <div style="padding-top: 10px; text-align: center;">
            <p>
              <a type="button" ng-href="#!/overview" class="btn btn-primary" style="margin-left: 40px">Confirm Dinner</a>
            </p>
        </div>
    </div>
</div>
