<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description,
Instructions, Ingredients and total cost. -->

<div id="listScreen" class="rightDiv" ng-init="search()">
        <div style="float: left; min-height: 75%; width: 50%;">
            <div style="height: 20%; width: 100%;" href="#!/search" >
                <a id="backButton" type="button" ng-href="#!/search" class="btn btn-primary" style="float: left; margin-left: 30px; margin-top: 20px; width: 100px;">Back</a>
            </div>
            <div style="height: 80%; width: 100%;">
                <img id="imgLocation" alt="HTML5 Icon" style="margin-top: 75px; margin-left: -360px; width:128px;height:128px;" ng-src="{{images}}">
                <h4 style="float: left; margin-left: 30px; margin-top: 250px;">Preparation :-</h4>
                <div id="preparation" style="float: left; margin-left: 30px; margin-top: 15px; text-align: left;">
                  <li ng-repeat="instruction in instructions">{{instruction.step}}</li>
                </div>
            </div>
        </div>
        <div id="ingredientDiv" style="border: 1px solid black; float: right; min-height: 75%; width: 50%; overflow: hidden;">
            <div style="height: 10%; text-align: center;">
                <h5 style="margin-left: 30px;">INGREDIENTS FOR 1 PERSON</h5>
                <hr style="margin-left: 30px; margin-right: 30px; margin-top: 0px; margin-bottom: 0px; border-top: 2px solid ">
            </div>
            <div id="ingredientTableDiv" style="height: 80%; overflow: hidden;">
                <table id="ingredientTable" class="table table-hover" style="text-align: center;">
                    <tbody>
                      <tr ng-repeat="ingredient in ingredients"><td>{{ingredient.amount}} {{ingredient.unit}}</td><td>{{ingredient.name}}</td><td>SEK</td><td>1</td></tr>
                    </tbody>
                </table>
                <hr style="margin-left: 30px; margin-right: 30px; margin-top: 0px; margin-bottom: 10px; border-top: 2px solid ">
                <a id="confirmButtonDetails" type="button" ng-href="#!/search" class="btn btn-primary" style="margin-left: 40px" ng-click="confirmDish()">Confirm Dish</a>
                <p style="float: right; margin-right: 160px; margin-top: 5px;">SEK</p>
                <p id="totalPrice" style="float: right; margin-right: -145px; margin-top: 5px;">{{price}}</p>
            </div>
        </div>
    </div>
