<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="partials/dinner-sidebar.html" ng-controller="DinnerCtrl"></ng-include>
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<div id="menu-search">
    <div style="height: 30%;">
        <h4 style="margin-left: 30px;">SELECT DISH</h4>
        <hr style="margin-left: 30px; margin-right: 30px; margin-top: 0px; margin-bottom: 0px; border-top: 2px solid ">
    </div>
    <div style="height: 60%">
        <!-- <input class="form-control" type="search" id="dish-search-input"> -->
        <button id="selectDishButton" type="button" class="btn btn-outline-primary" style="margin-top: 15px; margin-right: 30px">Search</button>
        <input type="text" class="form-control" id="inputSearch" style="margin-top: 15px; margin-left: 30px; width: 20%; float: left; margin-right: 10px;">
        </input>
        <select class="form-control" id="recipe-type-select" style="margin-top: 15px; margin-left: 30px; width: 20%; float: left; margin-right: 5px;">
            <option value="appetizer">Appetizer</option>
            <option value="main course">Main course</option>
            <option value="dessert">Dessert</option>
        </select>
    </div>
</div>
<div id="result-search">

</div>
